<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
	<meta charset="utf-8"/>
</head>
<body class="hold-transition skin-blue fixed sidebar-mini sidebar-collapse">
<div class="wrapper">
  <header th:replace="layout/layout :: header" ></header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:replace="layout/layout :: lateral-panel-left"></aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Comensales        
      </h1>
      <ol class="breadcrumb">
        <li><a th:href="@{/index}"> Home</a></li>
        <li class="active">Comensales</li>
      </ol>
    </section>   
    <!-- Main content -->
    <section class="content">
    	<div class="alert alert-success" th:if="${success != null}" th:text="${success}" id="panel_mensaje_success"></div>
		<div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>
      <div class="row">      	      	
      	<section class="col-xs-12 connectorSortable">
      		<div class="box box-success">      		 
	          <div class="box-header with-border">	             
	          	<h3 class="box-title">Lista de comensales registrados</h3>		              
	          </div>
	          <div class="box-body" id="panel_comensales_registrados">
	          	<form action="#" accept-charset="utf-8">
	          		<div class="row">					
						<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
							<div class="form-group">
								<label for="filtro">Filtro</label>
		                        <div class="input-group">
									<input type="text" name="filtro_comensales" id="filtro_comensales" class="form-control" placeholder="Ingrese un apellido" value="" autocomplete="off">
									<div class="input-group-btn">
										<button type="submit" class="btn btn-success" id="buscar_comensales" name="buscar_comensales"><i class="fa fa-search"></i></button>
									</div>
								</div>							
							</div>
						</div>
					</div>
				</form>
				<div class="row">
					<div class="col-xs-12">						
						<button type="button" class="btn btn-success btn-lg btn-circle pull-right" id="boton_nuevo_comensal"><i class="glyphicon glyphicon-plus"></i></button>						
					</div>
				</div>
				<p>
				<div class="row">					
						<div class="col-xs-12">					
							<div class="table-responsive">
								<table class="table table-bordered" id="lista_comensales" name="lista_comensales">																								
									<thead>
										<tr class="bg-blue">
											<th class="text-center">Acciones</th>
											<th class="text-center">D.N.I</th>
											<th class="text-center">Nombres</th>											
											<th class="text-center">Ap.Paterno</th>
											<th class="text-center">Ap.Materno</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="comensal : ${comensales}">
											<td class="text-center">
												<div class="btn-group">
	                                               <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
	                                               		<i class="fa fa-cogs margin-r-5"></i>&nbsp;&nbsp;<span class="caret"></span>
	                                               </button>
	                                               <ul class="dropdown-menu">
	                                               		<li><a id="ver_comensal" th:onclick="'ver_comensal('+${comensal.idComensal}+')'"><i class="fa fa-eye margin-r-5"></i>ver</a></li>
	                                               		<li><a id="editar_comensal" th:onclick="'editar_comensal('+${comensal.idComensal}+')'"><i class="fa fa-pencil margin-r-5"></i>Editar</a></li>
	                                                    <li><a th:href="@{/comensales/eliminar/} + ${comensal.idComensal}" id="eliminar_comensal"><i class="fa fa-trash margin-r-5"></i>Eliminar</a></li>
	                                               </ul>
	                                            </div>											
											</td>
											<td class="text-center" th:text="${comensal.dni}"></td>
											<td class="text-center" th:text="${comensal.nombres}"></td>
											<td class="text-center" th:text="${comensal.apellidoPaterno}"></td>
											<td class="text-center" th:text="${comensal.apellidoMaterno}"></td>
										</tr>									
									</tbody>
									<tfoot>
										<tr style="background-color: gray; color: white;">
											<th class="text-center">Acciones</th>
											<th class="text-center">D.N.I</th>
											<th class="text-center">Nombres</th>
											<th class="text-center">Ap.Paterno</th>
											<th class="text-center">Ap.Materno</th>
										</tr>
									</tfoot>
								</table>
							</div>
							<div class="box-footer clearfix">
				                <div class="row">
				                	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				                		<nav th:replace="paginator-nav :: paginator"></nav>				                		
				                	</div>
				                </div>
				            </div>						
						</div>					
			 		</div>	             	            
	          </div>	                       
          </div>
      	</section>      
      </div>
    </section>       
  </div>
  <footer th:replace="layout/layout :: footer"></footer>    
</div>

<!-- MODAL REGISTRO DE COMENSALES -->
<div class="modal fade" id="modal_registro_comensal" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form th:action="@{/comensales/grabar}" id="form_comensal" th:object="${comensal}" method="post" accept-charset="utf-8">
				<div class="modal-header bg-primary">
					<h4 class="modal-title">Datos del Comensal</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-12">										            
					            	<div class="row">
					            		<div class="col-md-6">
					            			<div class="row">
					            				<div class="col-xs-6">		            	
								            		<div class="form-group">
								            			<label class="control-label" for="dni">D.N.I</label>
								            			<div class="input-group">
								            				<span class="input-group-addon"><i class="fa fa-address-book-o"></i></span>
					                  						<input maxlength="8" type="text" onkeypress="return valida_numeros(event)"  class="form-control" th:field="*{dni}" id="dni" name="dni" placeholder="Ingrese DNI" autocomplete="off"/>					            				
								            			</div>
								            			<small class="form-text text-danger" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></small>
								            		</div>
								            	</div>
					            			</div>
					            			<div class="row">
					            				<div class="col-xs-12">
													<div class="form-group">
						                  				<label for="nombres">Nombres</label>
						                  				<div class="input-group">
						                  					<span class="input-group-addon"><i class="fa fa-th"></i></span>
						                  					<input type="text" th:field="*{nombres}" class="form-control" id="nombres" name="nombres" placeholder="Ingrese un nombre" autocomplete="off"/>
						                				</div>
						                				<small class="form-text text-danger" th:if="${#fields.hasErrors('nombres')}" th:errors="*{nombres}"></small>
						                			</div>
						                		</div>
						                		<div class="col-xs-12">
						                			<div class="form-group">			                			
						                  				<label class="control-label" for="apellidoPaterno">Apellido Paterno</label>
						                  				<div class="input-group">
						                  					<span class="input-group-addon"><i class="fa fa-th"></i></span>
						                  					<input type="text" th:field="*{apellidoPaterno}" class="form-control" id="apellidoPaterno" name="apellidoPaterno" placeholder="Ingrese apellido paterno" autocomplete="off"/>			                					
						                				</div>
						                				<small class="form-text text-danger" th:if="${#fields.hasErrors('apellidoPaterno')}" th:errors="*{apellidoPaterno}"></small>
						                			</div>
						                		</div>
						                		<div class="col-xs-12">
						                			<div class="form-group">
						                  				<label for="apellidoMaterno">Apellido Materno</label>
						                  				<div class="input-group">
						                  					<span class="input-group-addon"><i class="fa fa-th"></i></span>
						                  					<input type="text" th:field="*{apellidoMaterno}" class="form-control" id="apellidoMaterno" name="apellidoMaterno" placeholder="Ingrese apellido materno" autocomplete="off"/>
						                				</div>
						                			</div>
						                		</div>			                			
											</div>	
					            		</div>
					            		<div class="col-md-6">
											<div class="row">
												<div class="col-xs-6">
				                					<div class="form-group">                				                			
					                					<label for="sexo">Sexo</label>
					                					<div class="input-group">
					                						<span class="input-group-addon"><i class="fa fa-intersex"></i></span>
						                					<select class="form-control" id="sexo" name="sexo" th:field="*{sexo}">
						                               			<option value="Hombre">Masculino</option>
						                                		<option value="Mujer">Femenino</option>
						                            		</select>
					                        			</div>
					                        		</div>	                                            				
				                				</div>	                				
				                				<div class="col-xs-12">
				                					<div class="form-group">
			               								<label for="direccion">Dirección</label>
			               								<div class="input-group">
			               									<span class="input-group-addon"><i class="fa fa-address-card-o"></i></span>
			               									<input type="text" th:field="*{direccion}" class="form-control" id="direccion" name="direccion" placeholder="Ingrese una dirección" autocomplete="off"/>
			               								</div>
			               							</div>		
				                				</div>	                				
				                				<div class="col-xs-12">
				                					<div class="form-group">
				                						<label for="email">E-mail</label>
				                				 		<div class="input-group">
				                							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
				                							<input type="email" id="email" th:field="*{email}" name="email" class="form-control" placeholder="Ingrese e-mail" autocomplete="off"/>
				              					 		</div>
				              					 		<small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
				              						</div>
				                				</div>
				                				<div class="col-xs-6">
				                					<div class="form-group">
				                						<label for="telefono">Teléfono</label>
				                				 		<div class="input-group">
				                							<span class="input-group-addon"><i class="fa fa-phone"></i></span>
				                							<input type="text" id="telefono" th:field="*{telefono}" name="telefono" class="form-control" placeholder="Ingrese un teléfono" autocomplete="off"/>
				              					 		</div>
				              						</div>
				                				</div>	
											</div>			            		
					            		</div>				            		
					            	</div>	            
						         <input type="hidden" id="idComensal" th:field="*{idComensal}"/>
						         <input type="hidden" id="fechaRegistro" th:field="*{fechaRegistro}"/>
						         <input type="hidden" id="eliminado" th:field="*{eliminado}"/>			             
						</div>
					</div>    			
				</div>
				<div class="modal-footer">
					<div class="row">
					 	<div class="col-xs-12">
					    	<button type="submit" class="btn btn-primary" id="btn_grabar_comensal" name="btn_grabar_comensal">Grabar</button>		            	
							<a th:href="@{/comensales}" class="btn btn-default" id="btn_cancelar_comensal">Cancelar</a>
				    	</div>
				    </div>
				</div>
			</form>
		</div>
	</div>
</div>
<!--  FIN MODAL REGISTRO DE COMENSALES -->

<script th:src="@{/js/validator/bootstrapValidator.min.js}"></script>
<script th:src="@{/js/validator/bootstrapValidator.js}"></script>

<script th:src="@{/js/comensal.js}" ></script>

</body>
</html>

