<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">  
</head>
<body class="hold-transition skin-blue fixed sidebar-mini sidebar-collapse">
<div class="wrapper">
  <header th:replace="layout/layout :: header" ></header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:replace="layout/layout :: lateral-panel-left"></aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Panel de Inicio
        <small>Vista General</small>
      </h1>
      <ol class="breadcrumb">
        <li><a th:href="@{/index}"> Home</a></li>
        <li class="active">Panel de Inicio</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
      	<div class="col-md-3 col-sm-6 col-xs-12">
        	<div class="info-box">
        		<span class="info-box-icon bg-green"><i class="fa fa-users"></i></span>
        		
        		<div class="info-box-content">
        			<span class="info-box-text">Comensales registrados</span>
        			<span class="info-box-number" th:text="${numeroComensales}"></span>
        			<span class="info-box-link"><a th:href="@{/comensales}">Ver detalles  </a><i class="fa fa-arrow-circle-right"></i></span>
        		</div>
        	</div>
        </div> 
      </div>
    </section>    
  </div> 
  <footer th:replace="layout/layout :: footer"></footer>  
  <div class="control-sidebar-bg">
  </div>
</div>

<script>
$(document).ready(function(){
	
    $('li').removeClass("active");
    $('#menu_inicio').addClass("active");
    
});
</script>
</body>
</html>
