<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">  
</head>
<body class="hold-transition skin-blue fixed sidebar-mini sidebar-collapse">
<div class="wrapper">
  <header th:replace="layout/layout :: header" ></header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:replace="layout/layout :: lateral-panel-left"></aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Registro de Pacientes        
      </h1>
      <ol class="breadcrumb">
        <li><a th:href="@{/index}"> Home</a></li>
        <li class="active">Pacientes</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
      	<section class="col-lg-6 col-xs-12 connectorSortable">
      		<div class="box box-success">
	            <div class="box-header with-border">	              
	              <h3 class="box-title">Formulario de Paciente</h3>		              
	            </div>
	            <form action="" accept-charset="utf-8">
		            <div class="box-body" id="panel_citas_hoy">
		            	<div class="row">
		            		<div class="col-xs-3">		            	
			            		<div class="form-group">
			            			<label for="dni">D.N.I</label>
                  					<input type="text" class="form-control" id="dni" placeholder="Ingrese DNI">
			            		</div>
			            	</div>
		            	</div>
		             	<div class="form-group">
                  			<label for="nombres">Nombres</label>
                  			<input type="text" class="form-control" id="nombres" placeholder="Ingrese un nombre">
                		</div>
                		<div class="form-group">
                  			<label for="apellido_paterno">Apellido Paterno</label>
                  			<input type="text" class="form-control" id="apellido_paterno" placeholder="Ingrese apellido paterno">
                		</div>
                		<div class="form-group">
                  			<label for="apellido_materno">Apellido Materno</label>
                  			<input type="text" class="form-control" id="apellido_materno" placeholder="Ingrese apellido materno">
                		</div>
                		<div class="row">                			
	                		<div class="col-xs-3">
	                			<div class="form-group">                				                			
		                			<label for="sexo">Sexo</label>
		                			<select class="form-control" id="sexo" name="sexo">
		                               	<option value="M">Masculino</option>
		                                <option value="F">Femenino</option>
		                            </select>
		                        </div>	                                            				
	                		</div>	                		
                			<div class="col-xs-3">
                				<div class="form-group">
	                				<label for="estado_civil">Estado Civil</label>
	                				<select class="form-control" id="estado_civil" name="estado_civil">
	                                	<option value="s">Soltero</option>
	                                    <option value="c">Casado</option>                                    
	                                </select>
	                            </div>                				
                			</div>
                			<div class="col-xs-6">
                				<div class="form-group">
	                				 <label for="fecha_nacimiento">Fecha de Nac.</label>
	                				 <div class="input-group">
						                  <div class="input-group-addon">
						                    <i class="fa fa-calendar"></i>
						                  </div>
	                  					  <input type="text" class="form-control" id="fecha_nacimiento" readonly="readonly">
	                				</div>
	                			</div>
                			</div>
                		</div>
               			<div class="form-group">
               				<label for="direccion">Dirección</label>
               				<input type="text" class="form-control" id="direccion" placeholder="Ingrese apellido materno">
               			</div>
                		<div class="row">
                			<div class="col-xs-6">
                				<div class="form-group">
	                				<label for="email">E-mail</label>
	                				 <div class="input-group">
	                					<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
	                					<input type="email" id="email" class="form-control" placeholder="Ingrese e-mail">
	              					 </div>
	              				</div>
                			</div>
                			<div class="col-xs-6">
                				<div class="form-group">
	                				<label for="contrasena">Contraseña de inicio</label>
	                				 <div class="input-group">
	                					<span class="input-group-addon"><i class="fa fa-lock"></i></span>
	                					<input type="password" id="contrasena" class="form-control" placeholder="Ingrese contraseña">
	              					 </div>
	              				</div>
                			</div>
                		</div>
                		<div class="row">
                			<div class="col-xs-6">
                				<div class="form-group">
	                				<label for="raza">Raza</label>
	                				<select class="form-control" id="raza" name="raza">
	                                	<option value="1">Blanco o Caucasiano</option>
	                                	<option value="2">Negro o Afroamericano</option>
	                                    <option value="3">Mestizo</option>
	                                </select>
	                            </div>
                			</div>
                			<div class="col-xs-3">
                				<div class="form-group">
	                				<label for="grupo_sanguineo">Grupo sanguineo</label>
	                				<select class="form-control" id="grupo_sanguineo" name="raza">
	                                	<option value="A">A</option>
	                                	<option value="B">B</option>
	                                    <option value="AB">AB</option>
	                                    <option value="O">O</option>
	                                </select>
	                            </div>
                			</div>
                			<div class="col-xs-3">
                				<div class="form-group">
	                				<label for="factor_rh">Factor RH</label>
	                				<select class="form-control" id="factor_rh" name="raza">
	                                	<option value="0">Negativo (-)</option>
	                                	<option value="1">Positivo (+)</option>                                    
	                                </select>
	                            </div>
                			</div>
                		</div>
                		<div class="form-group">
                  			<label for="ocupacion_actual">Ocupacion actual</label>
                  			<input type="text" class="form-control" id="ocupacion_actual" placeholder="Escriba una ocupacion">
                		</div>                		
	                	<div class="form-group">
			            	<label for="lugar_origen">Lugar de origen</label>                		            			            			
			            	<div class="input-group">                				
						        <div class="input-group-btn">
						            <button type="button" class="btn btn-success"><i class="fa fa-search"></i></button>
						         </div>                
						         <input type="text" class="form-control" id="lugar_origen">
						    </div>
						</div>
					    <div class="form-group">
							<label for="lugar_nacimiento">Lugar de nacimiento</label>                		            			            			
			                <div class="input-group">                				
								<div class="input-group-btn">
							    	<button type="button" class="btn btn-success"><i class="fa fa-search"></i></button>
							    </div>                
						        <input type="text" class="form-control" id="lugar_nacimiento">
						    </div>
						</div>					                  		                		
						<div class="form-group">
                  			<label for="persona_ayuda">Persona que lo ayuda</label>
                  			<input type="text" class="form-control" id="persona_ayuda" placeholder="Ingrese un nombre">
                		</div>
		            </div>
		            <div class="box-footer">		            	
		            	<button type="submit" class="btn btn-default" id="btn_nuevo_paciente">Nuevo</button>
	                	<button type="submit" class="btn btn-primary pull-right" id="btn_grabar_paciente">Grabar</button>
	              	</div>
	             </form>             
          </div>
      	</section>
      	<section class="col-lg-6 col-xs-12 connectorSortable">
      		<div class="box box-success">      		 
	          <div class="box-header with-border">	             
	          	<h3 class="box-title">Listado de Pacientes</h3>		              
	          </div>
	          <div class="box-body" id="panel_pacientes_registrados">
	          	<form action="#" accept-charset="utf-8">
					<div class="form-group">
						<label for="filtro">Filtro</label>
                        <div class="input-group">
							<input type="text" name="filtro" id="filtro" class="form-control" placeholder="Ingrese un apellido" value="" autocomplete="off">
							<div class="input-group-btn">
								<button type="submit" class="btn btn-success"><i class="fa fa-search"></i></button>
							</div>
						</div>
					</div>
				</form>
				<div class="row">
					<div class="col-xs-12">
						<div class="table-responsive">
							<table class="table table-bordered">
								<caption><span>Cantidad de pacientes encontrados : <b>4</b></span></caption>
								<thead>
									<tr style="background-color: #ccc;">
										<th class="text-center">Acciones</th>
										<th class="text-center">Nombres</th>
										<th class="text-center">Ap.Paterno</th>
										<th class="text-center">Ap.Materno</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="text-center">
											<div class="btn-group">
                                               <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                               		<i class="fa fa-cogs margin-r-5"></i>&nbsp;&nbsp;<span class="caret"></span>
                                               </button>
                                               <ul class="dropdown-menu">
                                               		<li><a onclick=""><i class="fa fa-pencil margin-r-5"></i>Editar</a></li>
                                                    <li><a onclick=""><i class="fa fa-trash margin-r-5"></i>Eliminar</a></li>
                                               </ul>
                                            </div>											
										</td>
										<td class="text-center">Arturo Eugenio</td>
										<td class="text-center">Sandoval</td>
										<td class="text-center">Gutierrez</td>
									</tr>
									<tr>
										<td class="text-center">
											<div class="btn-group">
                                               <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                               		<i class="fa fa-cogs margin-r-5"></i>&nbsp;&nbsp;<span class="caret"></span>
                                               </button>
                                               <ul class="dropdown-menu">
                                               		<li><a onclick=""><i class="fa fa-pencil margin-r-5"></i>Editar</a></li>
                                                    <li><a onclick=""><i class="fa fa-trash margin-r-5"></i>Eliminar</a></li>
                                               </ul>
                                            </div>											
										</td>
										<td class="text-center">Arturo Eugenio</td>
										<td class="text-center">Sandoval</td>
										<td class="text-center">Gutierrez</td>
									</tr>
									<tr>
										<td class="text-center">
											<div class="btn-group">
                                               <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                               		<i class="fa fa-cogs margin-r-5"></i>&nbsp;&nbsp;<span class="caret"></span>
                                               </button>
                                               <ul class="dropdown-menu">
                                               		<li><a onclick=""><i class="fa fa-pencil margin-r-5"></i>Editar</a></li>
                                                    <li><a onclick=""><i class="fa fa-trash margin-r-5"></i>Eliminar</a></li>
                                               </ul>
                                            </div>											
										</td>
										<td class="text-center">Arturo Eugenio</td>
										<td class="text-center">Sandoval</td>
										<td class="text-center">Gutierrez</td>
									</tr>
									<tr>
										<td class="text-center">
											<div class="btn-group">
                                               <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                               		<i class="fa fa-cogs margin-r-5"></i>&nbsp;&nbsp;<span class="caret"></span>
                                               </button>
                                               <ul class="dropdown-menu">
                                               		<li><a onclick=""><i class="fa fa-pencil margin-r-5"></i>Editar</a></li>
                                                    <li><a onclick=""><i class="fa fa-trash margin-r-5"></i>Eliminar</a></li>
                                               </ul>
                                            </div>											
										</td>
										<td class="text-center">Arturo Eugenio</td>
										<td class="text-center">Sandoval</td>
										<td class="text-center">Gutierrez</td>
									</tr>
									<tr>
										<td class="text-center">
											<div class="btn-group">
                                               <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                               		<i class="fa fa-cogs margin-r-5"></i>&nbsp;&nbsp;<span class="caret"></span>
                                               </button>
                                               <ul class="dropdown-menu">
                                               		<li><a onclick=""><i class="fa fa-pencil margin-r-5"></i>Editar</a></li>
                                                    <li><a onclick=""><i class="fa fa-trash margin-r-5"></i>Eliminar</a></li>
                                               </ul>
                                            </div>											
										</td>
										<td class="text-center">Arturo Eugenio</td>
										<td class="text-center">Sandoval</td>
										<td class="text-center">Gutierrez</td>
									</tr>
									<tr>
										<td class="text-center">
											<div class="btn-group">
                                               <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                               		<i class="fa fa-cogs margin-r-5"></i>&nbsp;&nbsp;<span class="caret"></span>
                                               </button>
                                               <ul class="dropdown-menu">
                                               		<li><a onclick=""><i class="fa fa-pencil margin-r-5"></i>Editar</a></li>
                                                    <li><a onclick=""><i class="fa fa-trash margin-r-5"></i>Eliminar</a></li>
                                               </ul>
                                            </div>											
										</td>
										<td class="text-center">Arturo Eugenio</td>
										<td class="text-center">Sandoval</td>
										<td class="text-center">Gutierrez</td>
									</tr>
								</tbody>
								<tfoot>
									<tr style="background-color: gray; color: white;">
										<th class="text-center">Acciones</th>
										<th class="text-center">Nombres</th>
										<th class="text-center">Ap.Paterno</th>
										<th class="text-center">Ap.Materno</th>
									</tr>
								</tfoot>
							</table>
						</div>
						<div class="box-footer clearfix">
			                <div class="row">
			                	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			                		<ul class="pagination pagination-sm no-margin pull-right">
			                			<li><a href=""rel="back">Anterior</a></li>
			                			<li class="active" data-ci-pagination-page="1"><a href="#">1</a></li>
			                			<li><a href="" data-ci-pagination-page="2">2</a></li>
			                			<li><a href="" data-ci-pagination-page="3">3</a></li>
			                			<li><a href="" data-ci-pagination-page="2" rel="next">Siguiente</a></li>
			                		</ul>
			                	</div>
			                </div>
			            </div>						
					</div>
				</div>	             	            
	          </div>	                       
          </div>
      	</section>      
      </div>
    </section>    
  </div>
  <footer th:replace="layout/layout :: footer"></footer>  
  <div class="control-sidebar-bg"></div>
</div>

<script>
//Funcion de inicio de formulario
$(document).ready(function(){
	
	    $('li').removeClass("active");
	    $('#menu_registros').addClass("active");
	    $('#menu_paciente').addClass("active");
	    
	    $('#fecha_nacimiento').datepicker({
	        autoclose: true	    
	   })
	
});
</script>
</body>
</html>

