<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- File Input  -->
<link th:href="@{/bootstrap/controls/file-input/css/fileinput.css}" media="all" rel="stylesheet" type="text/css"/>   
<link th:href="@{/bootstrap/controls/file-input/themes/explorer-fa/theme.css}" media="all" rel="stylesheet" type="text/css"/>  

<head th:replace="layout/layout :: head">
</head>
<body class="hold-transition skin-blue fixed sidebar-mini sidebar-collapse">
<div class="wrapper">
  <header th:replace="layout/layout :: header" ></header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside th:replace="layout/layout :: lateral-panel-left"></aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Registro de Productos        
      </h1>
      <ol class="breadcrumb">
        <li><a th:href="@{/index}"> Home</a></li>
        <li class="active">Productos</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      	<div class="alert alert-success alert-dismissible" th:if="${success != null}" id="panel_mensaje_success_producto">
      		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      		<h4><i class="icon fa fa-check"></i>¡Correcto!</h4>
      		<h5 th:text="${success}"></h5>
      	</div>
		<div class="alert alert-danger alert-dismissible" th:if="${error != null}" th:text="${error}" id="panel_mensaje_error_producto"></div>
		<div class="alert alert-warning alert-dismissible" th:if="${warning != null}" th:text="${warning}" id="panel_mensaje_warning_producto"></div>
		<div class="alert alert-info alert-dismissible" th:if="${info != null}" th:text="${info}" id="panel_mensaje_info_producto"></div>
      <div class="row">      	      	
      	<section class="col-xs-12 connectorSortable">
      		<div class="box box-success">      		 
	          <div class="box-header with-border">	             
	          	<h3 class="box-title">Lista de productos registrados</h3>	              
	          </div>
	          <div class="box-body" id="panel_productos_registrados">
	          		<div class="row">					
						<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
							<div class="form-group">
								<label for="filtro">Búsqueda de producto</label>
		                        <div class="input-group">
									<input type="text" name="filtro_producto_descripcion" id="filtro_producto_descripcion" class="form-control" placeholder="Ingrese un producto" autocomplete="off">
									<div class="input-group-btn">
										<a class="btn btn-success" id="btn_filtrar_productos" th:onclick="'filtrar_productos()'"><i class="fa fa-search"></i></a>
									</div>
								</div>							
							</div>
						</div>
					</div>				
				<div class="row">
					<div class="col-xs-12" align="right">						
						<button type="button" class="btn btn-success btn-lg btn-circle" id="boton_nuevo_producto"><i class="glyphicon glyphicon-plus"></i></button>
						<button type="button" class="btn btn-info btn-lg btn-circle" id="boton_imprimir_producto"><i class="glyphicon glyphicon-print"></i></button>						
					</div>
				</div>
				<p>
				<div class="row">					
						<div class="col-xs-12">
							<div class="table-responsive">
								<table class="table table-bordered" id="lista_productos">
									<caption th:text="'Cantidad de productos encontrados : '+ ${numeroElementos}"></caption>
									<thead>
										<tr class="bg-orange">
											<th class="text-center">Acciones</th>
											<th class="text-center">Imagen</th>																						
											<th class="text-center">Descripción</th>											
											<th class="text-center">Tipo</th>											
											<th class="text-center">P. Compra</th>
											<th class="text-center">P. Venta</th>
											<th class="text-center">Stock Min.</th>
											<th class="text-center">Stock Act.</th>	
											<th class="text-center">Alerta</th>
											<th class="text-center">Stock</th>	
										</tr>
									</thead>
									<tbody>
										<tr th:each="producto : ${productos}" class="active" th:class="${producto.stockActual <= producto.stockMinimo}? 'bg-danger'">
											<td class="text-center">
												<div class="btn-group">
	                                               <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
	                                               		<i class="fa fa-cogs margin-r-5"></i>&nbsp;&nbsp;<span class="caret"></span>
	                                               </button>
	                                               <ul class="dropdown-menu">
	                                               		<li><a id="ver_producto" th:onclick="'ver_producto('+${producto.idProducto}+')'"><i class="fa fa-info-circle margin-r-5"></i>Info</a></li>
	                                               		<li><a id="editar_producto" th:onclick="'editar_producto('+${producto.idProducto}+')'"><i class="fa fa-pencil margin-r-5"></i>Editar</a></li>
	                                                  	<li><a id="eliminar_producto" th:onclick="'eliminar_producto('+${producto.idProducto}+')'"><i class="fa fa-trash margin-r-5"></i>Eliminar</a></li>
	                                               </ul>
	                                            </div>											
											</td>
											<td class="text-center">
												<button type="button" th:if="${producto.imagen == null}" class="btn btn-default" th:onclick="'abrir_modal_imagen_producto('+${producto.idProducto}+')'"><i class="fa fa-file-picture-o"></i></button>
												<img th:if="${producto.imagen != null}" style="max-width: 30px; max-height: 40px;" th:src="@{'/images/productos/'+${producto.imagen}}" th:alt="${producto.imagen}"/>
											</td>																						
											<td class="text-left"><i class="fa fa-ship"></i>&nbsp;&nbsp;<span th:text="${producto.descripcion}"></span></td>
											<td class="text-left"><span class="label bg-purple" th:text="${producto.tipoProducto.descripcion}"></span></td>											
											<td class="text-left"><span class="label label-primary" th:text="'S/. '+${producto.precioCompra}"></span></td>
											<td class="text-left"><span class="label label-primary" th:text="'S/. '+${producto.precioVenta}"></span></td>
											<td class="text-center"><span  th:text="${producto.stockMinimo}"></span></td>
											<td class="text-center"><span  th:text="${producto.stockActual}"></span></td>
											<td class="text-center">
												<input type="checkbox" th:if="${producto.alerta == 1}" checked data-toggle="toggle" data-on="Si" data-off="No" data-onstyle="success" th:id="'checkAlertaStock_ext_'+${producto.idProducto}" th:onchange="'actualizar_alerta('+${producto.idProducto}+')'"/>
												<input type="checkbox" th:if="${producto.alerta == 0}" data-toggle="toggle" data-on="Si" data-off="No" data-onstyle="success" th:id="'checkAlertaStock_ext_'+${producto.idProducto}" th:onchange="'actualizar_alerta('+${producto.idProducto}+')'"/>
											</td>
											<td class="text-center">
												<button type="button" th:if="${producto.alerta == 1}" th:class="${producto.stockActual <= producto.stockMinimo}? 'btn btn-danger' : 'btn btn-default'" th:text="${producto.stockActual <= producto.stockMinimo}? 'Urgente' : 'Agregar'" th:id="'boton_stock_'+${producto.idProducto}" th:onclick="'mostrar_modal_actualizar_stock_producto('+${producto.idProducto}+')'"></button>												
												<button type="button" th:if="${producto.alerta == 0}" style="display: none;" th:class="${producto.stockActual <= producto.stockMinimo}? 'btn btn-danger' : 'btn btn-default'" th:text="${producto.stockActual <= producto.stockMinimo}? 'Urgente' : 'Agregar'" th:id="'boton_stock_'+${producto.idProducto}" th:onclick="'mostrar_modal_actualizar_stock_producto('+${producto.idProducto}+')'"></button>
											</td>											
										</tr>
										<tr>
											<td class="info text-center" colspan="10" th:if="${numeroElementos == 0}" th:text="${mensajeTabla}"></td>
										</tr>																			
									</tbody>
									<tfoot>
										<tr style="background-color: gray; color: white;">
											<th class="text-center">Acciones</th>
											<th class="text-center">Imagen</th>																						
											<th class="text-center">Descripción</th>											
											<th class="text-center">Tipo</th>											
											<th class="text-center">P. Compra</th>
											<th class="text-center">P. Venta</th>
											<th class="text-center">Stock Min.</th>
											<th class="text-center">Stock Act.</th>
											<th class="text-center">Alerta</th>
											<th class="text-center">Stock</th>												
										</tr>																				
									</tfoot>																		
								</table>								
							</div>							
							<div class="box-footer clearfix">
				                <div class="row">
				                	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				                		<nav th:replace="paginator-nav :: paginator"></nav>				                		
				                	</div>
				                </div>
				            </div>	
				            				
						</div>					
			 		</div>	             	            
	          	</div>	                       
          	 </div>
      	  </section>
      </div>
  </section>      
  </div> 
  <footer th:replace="layout/layout :: footer"></footer>  
</div>

<!-- MODAL REGISTRO DE PRODUCTOS -->
<div class="modal fade" id="modal_registro_producto" data-backdrop="static">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<form th:action="@{/productos/grabar}" id="form_producto" th:object="${producto}" method="post" accept-charset="utf-8">
				<div class="modal-header bg-primary">
					<h4 class="modal-title">Datos del Producto</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12">										            
					            	<div class="row">
					            		<div class="col-md-12">
					            			<div class="row">
					            				<div class="col-lg-12">		            	
								            		<div class="form-group">
								            			<label class="control-label" for="descripcion">Descripción</label>
								            			<div class="input-group">
								            				<span class="input-group-addon"><i class="fa fa-th"></i></span>
					                  						<input type="text" class="form-control" th:field="*{descripcion}" id="descripcion" name="descripcion" placeholder="Ingrese el nombre del producto" autocomplete="off"/>					            				
								            			</div>								            			
								            		</div>
								            	</div>								            	
								            	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						                			<div class="form-group">			                			
						                  				<label class="control-label" for="presentacion">Presentación</label>
						                  				<div class="input-group">
						                  					<span class="input-group-addon"><i class="fa fa-th"></i></span>
						                  					<input type="text" th:field="*{presentacion}" class="form-control" id="presentacion" name="presentacion" placeholder="Ingrese una presentacion" autocomplete="off"/>			                					
						                				</div>						                				
						                			</div>
						                		</div>						                		
								            	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
													<div class="form-group">                				                			
					                					<label for="tipoProducto">Tipo producto</label>
					                					<div class="input-group">
					                						<span class="input-group-addon"><i class="fa fa-th"></i></span>
						                					<select class="form-control" id="tipoProducto" name="tipoProducto" th:field="*{tipoProducto}">
						                               			<option th:each="tipoProducto : ${tipoProductos}" th:value="${tipoProducto.idTipoProducto}" th:text="${tipoProducto.descripcion}"></option>					                                		
						                            		</select>
					                        			</div>
					                        		</div>
						                		</div>
						                		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					                				<div class="form-group">
					                					<label>Requiere alerta stock</label>
					                					<div class="input-group">
						                					<input type="checkbox" data-goggle="toggle" id="checkAlertaStock"/>
						                					<input type="hidden" id="alertaStock" th:field="*{alerta}" name="alerta" value="0"/>
					                					</div>
					                				</div>
					                			</div>						                								                		
					            			</div>
					            			<div class="row">
						                		<div id="col_precioCompra" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						                			<div class="form-group">
						                  				<label for="precioCompra">P. compra</label>
						                  				<div class="input-group">
						                  					<span class="input-group-addon"><i class="fa">S/.</i></span>
						                  					<input type="text" th:field="*{precioCompra}" class="form-control" id="precioCompra" name="precioCompra" placeholder="0.00" autocomplete="off"/>
						                				</div>
						                			</div>
						                		</div>
						                		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				                					<div class="form-group">
						                  				<label for="precioVenta">P. venta</label>
						                  				<div class="input-group">
						                  					<span class="input-group-addon"><i class="fa">S/.</i></span>
						                  					<input type="text" th:field="*{precioVenta}" class="form-control" id="precioVenta" name="precioVenta" placeholder="0.00" autocomplete="off"/>
						                				</div>
						                			</div>	                                            				
				                				</div>
				                				<div id="col_stockMinimo" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				                					<div class="form-group">
			               								<label for="stockMinimo">Stock mínimo</label>
			               								<div class="input-group">
			               									<span class="input-group-addon"><i class="fa fa-th"></i></span>			               									
			               									<input type="number" min="1" th:field="*{stockMinimo}" class="form-control" id="stockMinimo" name="stockMinimo" placeholder="0" autocomplete="off"/>
			               								</div>
			               							</div>		
				                				</div>	                				
				                				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				                					<div class="form-group">
			               								<label for="stockActual">Stock actual</label>
			               								<div class="input-group">
			               									<span class="input-group-addon"><i class="fa fa-th"></i></span>			               								
			               									<input type="number" min="0" th:field="*{stockActual}" class="form-control" id="stockActual" name="stockActual" placeholder="0" autocomplete="off"/>
			               								</div>
			               							</div>
				                				</div>				                							                			
											</div>											
					            		</div>					            						            		
					            	</div>
					             <input type="hidden" id="imagen_producto" th:field="*{imagen}"/>	            
						         <input type="hidden" id="idProducto" th:field="*{idProducto}"/>
						         <input type="hidden" id="fechaRegistro" th:field="*{fechaRegistro}"/>
						         <input type="hidden" id="eliminado" th:field="*{eliminado}"/>			             
						</div>
					</div>    			
				</div>
				<div class="modal-footer">
					<div class="row">
					 	<div class="col-xs-12">
					    	<button type="submit" class="btn btn-primary" id="btn_grabar_producto" name="btn_grabar_producto">Grabar</button>		            	
							<button type="button" class="btn btn-default" id="btn_cancelar_producto">Cancelar</button>
				    	</div>
				    </div>
				</div>
			</form>
		</div>
	</div>
</div>
<!--  FIN MODAL REGISTRO DE PRODUCTOS -->

<!-- MODAL CONFIRMA ELIMINAR PRODUCTO -->
<div class="modal fade" id="modal_confirma_eliminar_producto" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<h4 class="modal-title">Confirmación</h4>
			</div>
			<div class="modal-body">
				<div class="text-center" id="texto_eliminar_producto"></div>
			</div>
			<div class="modal-footer">
				<button type="button" id="btn_confirma_eliminar_producto" class="btn btn-danger">Si</button>
				<button type="button" id="btn_cancela_eliminar_producto" class="btn btn-default">No</button>
			</div>
		</div>		
	</div>
</div>
<!-- FIN DE MODAL CONFIRMA ELIMINAR PRODUCTO -->

<!-- MODAL VISTA DE DATOS PRODUCTO -->
<div class="modal fade" id="modal_vista_producto" data-backdrop="static">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<h4 class="modal-title">Información del Producto</h4>
			</div>
			<div class="modal-body">				
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3" align="center">
						<img alt="User Pic" id="imagen_producto_ver" class="img-circle img-responsive" th:src="@{/icons/info.png}"/>
					</div>									
					<div class="my-5 col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2" align="center">
						<table class="table table-striped" id="tabla_vista_comensal">
							<tr>
								<td>Descripción : </td>
								<td id="descripcion_ver"></td>
							</tr>
							<tr>
								<td>Tipo : </td>
								<td id="tipoProducto_ver"></td>
							</tr>
							<tr>
								<td>Presentación : </td>
								<td id="presentacion_ver"></td>
							</tr>
							<tr>
								<td>Precio de Compra : </td>
								<td id="precioCompra_ver"></td>
							</tr>
							<tr>
								<td>Precio de Venta : </td>
								<td id="precioVenta_ver"></td>
							</tr>
							<tr>
								<td>Stock Mínimo : </td>
								<td id="stockMinimo_ver"></td>
							</tr>
							<tr>
								<td>Stock Actual : </td>
								<td><a id="stockActual_ver"></a></td>
							</tr>
							<tr>
								<td>Requiere Alerta : </td>
								<td id="alerta_ver"></td>
							</tr>
							<tr>
								<td>Fecha de registro : </td>
								<td id="fechaRegistro_ver"></td>
							</tr>
						</table>
					</div>							
				</div>					
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="btn_cancelar_vista_producto" name="btn_cancelar_vista_producto">Aceptar</button>				
			</div>								
		</div>		
	</div>
</div>
<!-- FIN MODAL VISTA DE DATOS PRODUCTO  -->

<!-- MODAL ACTUALIZAR STOCK -->
<div class="modal fade" id="modal_actualizar_stock_producto" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header bg-orange">
				<h4 class="modal-title">Información de stock actual</h4>
			</div>
			<div class="modal-body">				
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					    	<div class="form-group">
				            	<label for="stockActual">Stock actual</label>
				               	<div class="input-group">
				               		<span class="input-group-addon"><i class="fa fa-th"></i></span>			               								
				               		<input type="number" min="0" class="form-control input-lg text-center text-bold" id="stockActual_actualizar" name="stockActual_actualizar" placeholder="0" autocomplete="off"/>				               		
				               	</div>			               	
				            </div>
				            <div class="form-group">
				            	<button type="button" class="btn btn-success btn-block" id="btn_actualizar_stock_producto" name="btn_actualizar_stock_producto" th:onclick="'actualizar_stock_producto()'">Actualizar</button>
								<button type="button" class="btn btn-default btn-block" id="btn_cancelar_stock_producto" name="btn_cancelar_stock_producto">Cancelar</button>
				            </div>				    	
					</div>			
				</div>					
			</div>									
		</div>		
	</div>
</div>
<!--FIN MODAL ACTUALIZAR STOCK -->

<!--MODAL IMAGEN DE PRODUCTO  -->
<div class="modal fade" id="modal_imagen_producto" data-backdrop="static">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<h4 class="modal-title">Imagen del producto</h4>
			</div>
			<div class="modal-body">				
				<div class="row">
					<form action="/productos/grabarimagen" id="form_imagen_producto" method="post" accept-charset="utf-8" enctype="multipart/form-data">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">					    
							<div class="form-group">
								<div class="file-loading">						                					
									<input type="file" class="file"  id="imagen" name="imagen"/>							    	
							    </div>
							</div>
							<div class="form-group">
								<input type="hidden" id="idProducto_" name="idproductoimagen"/>
					        	<button type="submit" class="btn btn-success btn-block" id="btn_grabar_imagen_producto" name="btn_grabar_imagen_producto">Actualizar</button>
								<button type="button" class="btn btn-default btn-block" id="btn_cancelar_imagen_producto" name="btn_cancelar_imagen_producto">Cancelar</button>
					        </div>		    	
						</div>													
					</form>
				</div>					
			</div>									
		</div>		
	</div>
</div>
<!--FIN DE MODAL IMAGEN DE PRODUCTO  -->

<script th:src="@{/js/producto.js}" ></script>
<!-- File Input dependences-->
 <script th:src="@{/bootstrap/controls/file-input/js/plugins/sortable.js}"></script>
 <script th:src="@{/bootstrap/controls/file-input/js/fileinput.js}"></script>
 <script th:src="@{/bootstrap/controls/file-input/js/locales/es.js}"></script>
 <script th:src="@{/bootstrap/controls/file-input/themes/explorer-fa/theme.js}"></script>
 <script th:src="@{/bootstrap/controls/file-input/themes/fa/theme.js}"></script>

</body>
</html>